.form {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .input {
    width: 400px;
    margin-right: 8px;
    padding: 4px;
  }
  
  .button {
    font-size: 20px;
    border-radius: 1px solid 4px;
    background-color: rgb(209, 242, 242);
  }